* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font-family: "Nunito Sans", sans-serif;*/
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

.products1 h2 {
  margin-top: 160px;
  text-align: center;
}

.theProduct {
  padding: 10px 10px 10px 10px;
  border: 2px solid whitesmoke;
  letter-spacing: 5px;
}

.theProduct p {
  margin-top: 10px;
}

.theProduct a {
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
}

.theProduct a:hover {
  color: black;
}

.theProduct button {
  border: 2px solid #fca311;
  background-color: transparent;
  padding: 3px 10px 3px 10px;
}
